:root {
    --primaryColor: #6d6afe;
    --redColor: #ff5b56;
    --blackColor: #111322;
    --whiteColor: #ffffff;
    --grayColor100: #f0f6ff;
    --grayColor200: #e7effb;
    --grayColor300: #ccd5e3;
    --grayColor400: #9fa6b2;
    --grayColor500: #3e3e43;
}