@import url(./reset.css);
@import url(./color.css);
@import url(./font.css);

.w-350 {
    min-width: 21.875rem;
}

.w100 {
    width: 100%;
}

.wrap {
    width: 62.375rem;
    padding: 0 2.5rem;
    margin: 0 auto;
}

.btn-form01 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.193333333;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem 2.53125rem;
    text-align: center;
    background: linear-gradient(90.99deg, var(--primaryColor) 0.12%, #6AE3FE 101.84%);
    color: var(--whiteColor);
}

.text-gradient {
    background: linear-gradient(91.26deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
    background-clip: text !important;
    -webkit-background-clip: text;
    color: transparent;
}

.underline::after {
    width: 100%;
    height: 1px;
    background: var(--primaryColor);
    content: "";
    display: block;
    position: absolute;
    left: 0;
}

.flex-box {
    display: flex;
}

.input-login-form01 {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0 0;
}

.input-login-form01:first-child {
    margin: 0;
}

.input-login-form01 label {
    font-size: 0.875rem;
    line-height: 1.19357142857;
    margin: 0 0 0.75rem;
}

.input-login-form01 input {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    background: var(--whiteColor);
    border-radius: 0.5rem;
    border: 1px solid var(--grayColor300);
    box-sizing: border-box;
    padding: 1.125rem 0.9375rem;
}

.input-login-form01 input:hover, .input-login-form01 input:focus {
    border: 1px solid var(--primaryColor);
}

.input-icon-div {
    position: relative;
}

.input-icon-div .input-icon.on img:nth-child(1) {
    position: absolute;
    right: 15px;
    top: 50%;
    margin: -6px 0 0;
    display: block;
}

.input-icon-div .input-icon.off img:nth-child(2) {
    position: absolute;
    right: 15px;
    top: 50%;
    margin: -5px 0 0;
    display: block;
}

.input-icon-div .input-icon img {
    display: none;
}

.social-login {
    background: var(--grayColor200);
    border: 1px solid var(--grayColor300);
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    margin: 2rem 0 0;
}

.social-login.flex-box {
    align-items: center;
    justify-content: space-between;
}

.social-login span {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.19357142857;
    color: var(--grayColor500);
}

.social-login > ul.flex-box {
    gap: 1rem;
}

.social-login > ul > li a{
    display: flex;
    border-radius: 50%;
    transition: 0.3s box-shadow;
}

.social-login > ul > li a:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}