.text-gradient-yellow-to-sky {
  background-image: linear-gradient(to right, #FFD88B, #6FBAFF);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-gradient-blue-to-blue {
  background-image: linear-gradient(to right, #528885, #6D7CCD);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-gradient-green-to-sky {
  background-image: linear-gradient(to right, #68E8F9, #FE578F);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-gradient-purple-to-pink {
  background-image: linear-gradient(to right, #6D6AFE, #FF9F9F);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
