* {
  box-sizing: border-box;
  --primary:#6d6afd;
  --red:#FF5B56;
  --black:#111322;
  --gray-300:#3E3E43;
  --gray-200:#9FA6B2;
  --gray-100:#CCD5E3;
  --lightGray-100:#E7EFFB;
  --lightGray-200:#F0F6FF;


  --logo-weight:700;
  margin: 0;
  font-family: "Montserrat Alternates", 'Noto Sans KR', sans-serif;

}

a {
  text-decoration: none;
}