@media screen and (min-width: 1610px) {
}

@media screen and (max-width: 1609px) {
  header {
    padding: 2rem 10rem;
  }
}

@media screen and (max-width: 1280px) {
  header {
    padding: 2rem 10rem;
  }
}

@media screen and (max-width: 1023px) {
  header {
    padding: 2rem 8rem;
  }
  main .main_header figure h1,
  main .main_header figure span {
    font-size: 4.4rem;
  }
  main .main_header img {
    width: 100%;
  }
  main h1 {
    text-align: center;
    font-size: 5.4rem;
    font-weight: 500;
  }
  main p {
    text-align: center;
  }
  main section {
    padding: 70px 70px;
  }
  section .card .card_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 7rem;
  }
  section .card .card_item img {
    order: -1;
  }
  section .card .card_item img {
    width: 100%;
  }
  section .card .image_description {
    margin-top: 7rem;
  }
  footer .footer_wrap {
    padding: 3.2rem 10.4rem 10.8rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;
    color: #676767;
  }
  footer .sns_fill_wrap {
    justify-self: center;
  }
}

@media screen and (max-width: 699px) {
  header {
    padding: 2rem 2rem;
  }
  main .main_header figure h1,
  main .main_header figure span {
    font-size: 3.8rem;
  }
  main .main_header a.link_add {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  main section {
    padding: 7rem 0;
  }
  section .card {
    padding: 10rem 0;
  }
  section .card .card_item {
    gap: 20rem;
  }
}
