:root {
  --primary-color: #6d6afe;
  --red-color: #ff5b56;
  --black-color: #111322;
  --white-color: #ffffff;
  --gray1-color: #3e3e43;
  --gray2-color: #9fa6b2;
  --gray3-color: #ccd5e3;
  --gray4-color: #e7effb;
  --gray5-color: #f0f6ff;
}
html {
  font-size: 10px;
}
body {
  position: relative;
}

h1 {
  margin-bottom: 1.5rem;
}

p,
a,
span {
  font-size: 1.6rem;
}

header {
  padding: 2rem 20rem;
  background-color: var(--gray5-color);
  position: sticky;
  transition: box-shadow 0.5s;
  top: 0;
}

header .header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.nav_shadow {
  box-shadow: 0 10px 30px rgba(188, 188, 188, 0.2);
  background: linear-gradient();
  transition: box-shadow 0.5s;
  border-bottom: 1px solid #e2ebfa;
}

header .login {
  flex-shrink: 0;
}

header .logo {
  flex-shrink: 0;
}

header .logo img {
  width: 133px;
  height: 24px;
}

header .login a,
header .login a:active {
  padding: 15px 40px;
  background-image: linear-gradient(270deg, #6ae3fe, var(--primary-color));
  border-radius: 8px;
  color: var(--white-color);
  text-decoration: none;
}

/* main */

main {
  background-color: #fff;
}

main .main_header_wrap {
  background-color: var(--gray5-color);
}

main .main_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 7rem;
}

main h1 {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 500;
}

main .main_header a.link_add,
main .main_header a.link_add:active {
  padding: 16px 126px;
  background-image: linear-gradient(270deg, #6ae3fe, var(--primary-color));
  border-radius: 8px;
  color: var(--white-color);
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 90px;
}

/* main section */

main section {
  box-shadow: 0 -15px 40px 20px var(--gray4-color);
  padding: 70px 0;
}

main .info_gradient {
  background: linear-gradient(270deg, #ff9f9f, var(--primary-color));
}
main .link_gradient {
  background: linear-gradient(270deg, #a4ceff, #fe8a8a);
}
main .folder_gradient {
  background: linear-gradient(270deg, #a4ceff, #ffd88b);
}
main .share_gradient {
  background: linear-gradient(270deg, #a4ceff, #528885);
}
main .sns_gradient {
  background: linear-gradient(270deg, #a4ceff, #76dbf0);
}
main .text_gradient {
  font-size: 6.4rem;
  color: transparent;
  background-clip: text;
}

section .card {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

section .card .card_item {
  width: 998px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .card .card_item figure {
  flex-shrink: 0;
}

section .image_description {
  margin-top: 10px;
  line-height: 25px;
}

section .section_folder img {
  order: -1;
}

section .section_sns img {
  order: -1;
}

footer {
  background-color: var(--black-color);
}

footer .footer_wrap {
  padding: 3.2rem 10.4rem 10.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  color: #676767;
}

/* footer */

footer .privacy_fnq_wrap {
  justify-self: center;
}

footer .sns_fill_wrap {
  justify-self: end;
}

footer .footer_wrap a {
  color: #cfcfcf;
}

footer .privacy_fnq_wrap {
  display: flex;
  gap: 3rem;
}

footer .sns_fill_wrap {
  display: flex;
  gap: 1.2rem;
}
