.container {
  width: 100%;
  max-width: 768px; /* 모바일 최대 넓이 설정*/
  padding: 0px 20px; /* 좌우 패딩값 설정 */
  margin: 0px auto; /* 뷰포트가 더 큰 경우, mx-auto로 중앙 정렬 */
}
.only-table {
  display: none;
}
.only-mobile {
  display: block;
}

.only-tablet-pc {
  display: none;
}

.gnb {
  position: sticky;
  background-color: var(--lightGray-200);
  top: 0px;
  height: 50px;
  width: 100%;  
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 32px;
}

/* 로고 */
.btn-home {
  font-size: 24px;
}


/* 로그인 버튼 */
.btn-login {
  font-size: 16px;
  font-weight: 600;
  padding: 16px 20px;
  height: 40px;
  margin-top: 5px;
  min-width: 85px;
}

/* hero */
.hero {
  background-color: var(--lightGray-200);
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-left: 32px;
  padding-right: 32px;
}

.hero-container__text-box {
  text-align: center;
  margin-top: 70px;
  font-size: 32px; 
}

.hero-container__add-link {
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 37px;
}

.hero-container__background-img {
  width: 100%;
  border-radius: 25px;
  /* 이미지 비율 맞추기 */
  object-fit: cover;
}


/* main */
.order-1 {
  order: 1;
}

.main{  
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 100px;
}

.main-container {
  display: flex;
  flex-direction: column;  
  gap: 1rem;
  padding-left: 32px;
  padding-right: 32px;
}

.main-container__text-box {
  font-size: 24px;
  max-height: 450px;
  font-weight: 700;
  margin-right: 10px;
}

.main-container__text-box__title{
  font-size: 25px;
  margin-bottom: 3px;
}

.main-container__text-box__description{
  font-size: 15px;
  font-weight: 400;
  margin-top: 0px;
}

.main-container__img-box {
  display: flex;
}
.main-container__img-box__img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* footer */
.footer-container {
  margin-top: 80px;
  padding: 40px 32px 0 32px;
  background-color:  var(--black);
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(15%,auto) );
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 200px;

  /* 폰트 설정 */
  color: #676767;
  font-size: 16px;
  font-weight: 400;
  text-align: center;

}

.footer-container__copyright-text {
  grid-column: 1 / 2;
  text-align: left;
}

a.footer-policy {
  color: #cfcfcf
}

.footer-faq {
  color: #cfcfcf;
  grid-column: 3 / 5;
}

.footer-sns {
  grid-column: 6 / 7;
}

.footer-sns a {
  display: inline-block;
  width: 20px;
  height: 20px;
}



/* 모바일 */
@media (min-width:375px){

}

/* 테블릿 */
@media (min-width:768px){
  .order-1{
    order: -1;
  }
  .only-mobile {
    display: none;
  }
  .only-tablet {
    display: block;
  }
  .only-tablet-pc {
    display: block;
  }

  .btn-home {
    /* margin-left: 200px; */
  }
  .btn-login {
    /* margin-right: 200px; */
  }
  .container {
    max-width:1199px;
  }


  .hero-container__text-box__title {
    font-size: 64px;
  }

  .hero-container__add-link{
    width: 350px;
    height: 53px;
  }

  .hero-container__background-img {
    width: 698px;
    height: 343px; 
  }

  .main-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .main-container__text-box__title {
    font-size: 48px;
  }

  .main-container__text-box__description {
    font-size: 16px;
  }

  .main-container__img-box__img {
    width: 385px;
    height: 315px;
  }

  .footer-policy {
    grid-column: 3 / 4;
  }

  .footer-faq {
    grid-column: 4 / 5;
  }
}

/* PC */
@media (min-width:1200px){
  .container {
    min-width: 1200px;
  }
  .only-tablet {
    display: none;
  }

  .hero-container__background-img {
    width: 1200px;
    height: 590px;
  }

  .main-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 190px;
  }

  .main-container__img-box__img {
    width: 550px;
    height: 450px;
  }
}