.Footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 160px;
  margin-top: 4rem;
  background-color: var(--black);

  @media (min-width: 768px) {
    margin-top: 6rem;
  }
}

.Footer_items {
  display: grid;
  justify-content: space-between;
  grid-template:
    "footer-links sns"
    ". ." 1fr
    "copyright .";
  width: 100%;
  padding: 32px;
  color: var(--text-gray);
  font-size: 16px;
  font-family: Arial;

  @media (min-width: 768px) {
    grid-template: "copyright footer-links sns";
    height: fit-content;
    max-width: 192rem;
    padding: 3.2rem 10.4rem 0;
  }
}

.Footer_copyright {
  grid-area: copyright;
  color: #676767;
  font-family: Arial;
  font-size: 16px;
}

.Footer_links {
  grid-area: footer-links;
  display: flex;
  column-gap: 3rem;
  padding-right: 1.8rem;
  color: #cfcfcf;
  font-family: Arial;
  font-size: 16px;
}

.Footer_sns {
  grid-area: sns;
  display: flex;
  column-gap: 1.2rem;
}
