.InputAddLink-form {
  background-color: var(--light-blue);
  height: 117px;
  width: 100%;
  padding: 24px 32px 40px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InputAddLink-form-container {
  position: relative;
}

.LinkIcon {
  position: absolute;
  top: 36%;
  left: 5%;
}

.InputAddLink-input {
  width: 325px;
  height: 53px;
  border-radius: 15px;
  padding-left: 13%;
  padding-right: 30%;
  border: 1px solid blue;
}

.InputAddLink-btnAdd {
  width: 80px;
  height: 37px;
  border-radius: 5px;
  position: absolute;
  top: 15%;
  right: 3%;
}

@media (min-width: 768px) {
  .LinkIcon {
    left: 3%;
  }
  .InputAddLink-input {
    width: 704px;
    padding-left: 8%;
    padding-right: 19%;
  }
  .InputAddLink-btnAdd {
    right: 1%;
  }
}

@media (min-width: 1124px) {
  .InputAddLink-input {
    width: 760px;
  }
}
