.CardListForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.SearchBar {
  position: relative;
}

.SearchBar-InputSearch {
  background-color: var(--gray-light);
  margin-top: 20px;
  width: 100%;
  height: 43px;
  border-radius: 10px;
  padding-left: 13%;
  padding-right: 8%;
}

.SearchBar-InputSearch-icon {
  position: absolute;
  top: 52%;
  left: 5%;
}

.CardList {
  display: grid;
  grid-template-columns: repeat(32.5rem);
  justify-content: center;
  width: 100%;
  max-width: 106rem;
  row-gap: 2rem;
  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, 34rem);
    row-gap: 2.5rem;
    column-gap: 2rem;
  }
}

.CardList-item {
  margin-top: 30px;
  display: flex;
  width: 325px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0px 0px 15px #c4c4c4;
}

.CardList-item-img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 325px;
  height: 243px;
}

.CardList-item-createdAt {
  margin-left: 15px;
}

.CardList-item-description {
  margin: 10px 15px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.CardList-item-date {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
