body {
  --logo-weight:700;
  margin: 0;
  background-color: #F0F6FF;
}

.login-form__social {
  width: 100%;
  max-width: 400px;
  height: 66px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #E7EFFB;
  align-items: center;
  border: 1px solid #ccd5e3;
}

.google-login {
  width: 42px;
  height: 42px;
  margin-right: 15px;
}

.kakao-login {
  width: 42px;
  height: 42px;
}