.text-gradient-yellow-to-sky {
  background-image: linear-gradient(to right, #FFD88B, #6FBAFF);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-gradient-blue-to-blue {
  background-image: linear-gradient(to right, #528885, #6D7CCD);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-gradient-green-to-sky {
  background-image: linear-gradient(to right, #68E8F9, #FE578F);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-gradient-purple-to-pink {
  background-image: linear-gradient(to right, #6D6AFE, #FF9F9F);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-gradient-pink-to-sky {
  background-image: linear-gradient(to right, #FE8A8A, #A4CEFF);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.btn {
  background-image: linear-gradient(to right, #6D6AFE, #6AE3FE);
  border-radius: 8px;
  color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

/* 로고 홈 버튼 */
.btn-home {
  color: var(--primary);
  font-weight: var(--logo-weight);
}
