* {
  box-sizing: border-box;
}

body {
  /* 폰트 색상 weight 변수 */
  --primary-color:#6d6afd;
  --logo-weight:700;
  margin: 0;
  font-family: "Montserrat Alternates", 'Noto Sans KR', sans-serif;
  background-color: #F0F6FF;
}

a {
  text-decoration: none;
}

input{
  width: 100%;
  height: 60px;
  border-radius: 8px;
  padding: 18px 15px;
}

a.btn-home {
  color: var(--primary-color);
  font-weight: var(--logo-weight);
  font-size: 45px;
}

.container {
  margin: 120px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-top {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.signUp {
  text-decoration: underline;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
}

.login-mid{
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  max-width: 400px;
  margin-top: 30px;
  margin-bottom: 10px;
}

#input-email {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
}

#input-password {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 400px;
}

/* 버튼 기본 속성 */
.btn {
  background-image: linear-gradient(to right, #6D6AFE, #6AE3FE);
  border-radius: 8px;
  color: #F5F5F5;
  display: flex;
  align-items: center;
}

/* 로그인 버튼 */
.login {
  font-size: 16px;
  font-weight: 600;
  padding: 16px 20px;
  height: 53px;
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.login-btm { 
  width: 100%;
  max-width: 400px;
}

.snsLogin-container {
  width: 100%;
  max-width: 400px;
  height: 66px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #E7EFFB;
  align-items: center;
  border: 1px solid #ccd5e3;
}

.google-login {
  width: 42px;
  height: 42px;
  margin-right: 15px;
}

.kakao-login {
  width: 42px;
  height: 42px;
}